In [ ]:
import pandas as pd
import numpy as np
d={'names':['a','b'],'mark1':[2,3],'marks2':[5,6]}
df=pd.DataFrame(d)
print(df)

df['percentage']=((df['mark1']+df['marks2'])/20)*100 #addition of frames    #  totalmarks/maxmarks * 100
print(df)

df1=df['percentage']
print(df1)
for i in [0,1]:          #for i in range(len(df))  #len(df)
 if(df1.iloc[i]>50):
  print('pass')
 else:
  print('fail')

  names  mark1  marks2
0     a      2       5
1     b      3       6
  names  mark1  marks2  percentage
0     a      2       5        35.0
1     b      3       6        45.0
0    35.0
1    45.0
Name: percentage, dtype: float64
35.0
fail
45.0
fail

In [ ]:
DF=pd.read_excel("/content/iris.xlsx")
DF.head(10)
DF.head(20)
DF.head(10)
DF=pd.read_excel("/content/iris.xlsx")

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0            5.1           3.5            1.4           0.2  setosa
1            4.9           3.0            1.4           0.2  setosa
2            4.7           3.2            1.3           0.2  setosa
3            4.6           3.1            1.5           0.2  setosa
4            5.0           3.6            1.4           0.2  setosa
5            5.4           3.9            1.7           0.4  setosa
6            4.6           3.4            1.4           0.3  setosa
7            5.0           3.4            1.5           0.2  setosa
8            4.4           2.9            1.4           0.2  setosa
9            4.9           3.1            1.5           0.1  setosa

In [ ]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
DF.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
DF.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.057333       3.758000      1.199333
std         0.828066      0.435866       1.765298      0.762238
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [ ]:
DF.head(20)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0             5.1           3.5            1.4           0.2  setosa
1             4.9           3.0            1.4           0.2  setosa
2             4.7           3.2            1.3           0.2  setosa
3             4.6           3.1            1.5           0.2  setosa
4             5.0           3.6            1.4           0.2  setosa
5             5.4           3.9            1.7           0.4  setosa
6             4.6           3.4            1.4           0.3  setosa
7             5.0           3.4            1.5           0.2  setosa
8             4.4           2.9            1.4           0.2  setosa
9             4.9           3.1            1.5           0.1  setosa
10            5.4           3.7            1.5           0.2  setosa
11            4.8           3.4            1.6           0.2  setosa
12            4.8           3.0            1.4           0.1  setosa
13            4.3           3.0            1.1           0.1  setosa
14            5.8           4.0            1.2           0.2  setosa
15            5.7           4.4            1.5           0.4  setosa
16            5.4           3.9            1.3           0.4  setosa
17            5.1           3.5            1.4           0.3  setosa
18            5.7           3.8            1.7           0.3  setosa
19            5.1           3.8            1.5           0.3  setosa

In [ ]:
DF['Species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [ ]:
DF.shape

(150, 5)

In [ ]:
DF['PetalWidthCm']

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, Length: 150, dtype: float64